<style>
  @media only screen and (max-width: 787px){
    .bg_mobile{
      background: url({{section.settings.bg_image | img_url: '768x380'}}) no-repeat center;
    }
  }
</style>
<section class="introducao bg_mobile" >
    <div>
      {% if section.settings.title != blank %}
        <h1 data-anime="400" class="fadeInDown">{{ section.settings.title | escape }}</h1>
      {% endif %}
      <blockquote data-anime="800" class="fadeInDown quote_externo">
        {% if section.settings.text != blank %}
          <p>{{section.settings.text}}</p>
        {% endif %}
        {% if section.settings.cite %}
          <cite>{{section.settings.cite}}</cite>
        {% endif %}
      </blockquote>
      {% if section.settings.text_button != blank %}
        <a data-anime="1200" href="produtos.html" class="btn">{{section.settings.text_button}}</a>
      {% endif %}
    </div>
  </section>

  {% schema %}
    {
      "name": {
        "pt-BR": "Banner Principal"
      },
      "presets": [
        {
          "name": {
            "pt-BR": "Banner Principal"
          },
          "category": {
            "pt-BR": "Imagem"
          }
        }
      ],
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": {
            "pt-BR": "Imagem de fundo"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "pt-BR": "Titulo"
          }
        },
        {
          "type": "textarea",
          "id": "text",
          "label": {
            "pt-BR": "Frase"
          }
        },
        {
          "type": "text",
          "id": "cite",
          "label": {
            "pt-BR": "Autor da frase"
          }
        },
        {
          "type": "text",
          "id": "text_button",
          "label": {
            "pt-BR": "Texto do Botão"
          }
        }
      ]
    }
  {% endschema %}